<div class="oj-flex">

    <p style="padding: 5px 5px 0px 5px;">年</p>
    <select class="oj-sm-3 oj-md-2 oj-lg-2 oj-flex-item" data-bind="ojComponent: {component: 'ojSelect',
                                                    value: val1,
                                                    optionChange: optionChangedHandler2,
                                                    rootAttributes: {style:'flex: 0 1 24%;max-width: 24%;width: 24%; min-width: 1em;'}}">
        <option value="2016">2016</option>
        <option value="2017">2017</option>
    </select>
    <p style="padding: 5px 5px 0px 5px;">季度</p>
    <select class="oj-sm-3 oj-md-2 oj-lg-2 oj-flex-item" data-bind="ojComponent: {component: 'ojSelect',
                                                    value: val2,
                                                    optionChange: optionChangedHandler2,
                                                    rootAttributes: {style:'flex: 0 1 24%;max-width: 24%;width: 24%; min-width: 1em;'}}">
        <option value="一">一</option>
        <option value="二">二</option>
        <option value="三">三</option>
        <option value="四">四</option>
        <option value="五">五</option>
    </select>
    <p style="padding: 5px 5px 0px 5px;">月</p>
    <select class="oj-sm-3 oj-md-2 oj-lg-2 oj-flex-item" data-bind="ojComponent: {component: 'ojSelect',
                                                    value: val3,
                                                    optionChange: optionChangedHandler2,
                                                    rootAttributes: {style:'flex: 0 1 24%;max-width: 24%;width: 24% ; min-width: 1em;'}}">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
        <option value="6">6</option>
        <option value="7">7</option>
        <option value="8">8</option>
        <option value="9">9</option>
        <option value="10">10</option>
        <option value="11">11</option>
        <option value="12">12</option>
    </select>
</div>
<div class="oj-flex">
    <select class="oj-sm-4 oj-md-2 oj-lg-2 oj-flex-item" data-bind="ojComponent: {component: 'ojSelect',
                                                    value: val4,
                                                    optionChange: optionChangedHandler2,
                                                    rootAttributes: {style:'flex: 0 1 33%;max-width: 33%;width: 33%; min-width: 1em;'}}">
        <option value="一级品类">一级品类</option>
        <option value="福临门">福临门</option>
        <option value="三线">三线</option>
    </select>

    <select class="oj-sm-4 oj-md-2 oj-lg-2 oj-flex-item" data-bind="ojComponent: {component: 'ojSelect',
                                                    value: val5,
                                                    optionChange: optionChangedHandler2,
                                                    rootAttributes: {style:'flex: 0 1 33%;max-width: 33%;width: 33%; min-width: 1em;'}}">
        <option value="油种">油种</option>
        <option value="type1">菜籽油</option>
        <option value="type2">大豆油</option>
        <option value="type3">调和油</option>
        <option value="type4">稻米油</option>
        <option value="type5">花生油</option>
        <option value="type6">精品油</option>
        <option value="type7">葵花籽油</option>
        <option value="type8">芝麻油</option>       
        <option value="type9">玉米油</option>
    </select>

    <span class="oj-sm-3 oj-md-3 oj-lg-3 oj-flex-item homeSwitch">
        <input id="switch" data-bind="ojComponent: {component: 'ojSwitch', value: isChecked,  optionChange: optionChangedHandler2}"/>
        非转基因
    </span>

</div>

<div class="oj-flex" style="width: 96%;align-content: center">
    <!-- ko if: navListDataReady -->
    <div id="infoCategories" class="oj-flex oj-flex-items-pad" style="width: 100%;align-content: center">
        <div class="oj-flex-item" style="overflow: auto;">
            <div data-bind="ojComponent: {component: 'ojConveyorBelt'}">
                <div data-bind="ojComponent:{
                                    component: 'ojNavigationList',
                                    drillMode: 'none',
                                    data: infoTilesDataSource,
                                    edge: 'top',
                                    optionChange: navListOptionChangeHandler,
                                    item: { template: 'server_template' }
                        }" class="oj-sm-justify-content-center oj-navigationlist-stack-icon-label">
                </div>
            </div>
            <script type="text/html" id="server_template">
                <li data-bind="attr:{ id : $data['sid']}">
                    <a href="#">
                        <span class="oj-navigationlist-item-icon demo-employee-navi-label-phone demo-navi-icon-phone"
                              data-bind="css: 'demo-navi-' + $data['title'] + '-icon'">
                        </span>
                         <!--ko text: $data['title']--><!--/ko-->
                    </a>
                </li>
                </script>
            </div>
        </div>
        <!-- /ko -->
        <div class="justifyCenter" style="padding:0px; background-color: #E7EDF2;width: 100%">
            <div id="categoryDetailsArea">
                        <div data-bind="ojModule: modulePath">
                        </div>
<!--                <div data-bind="ojModule: {viewName: detailsContentTemplate()}"></div>-->
            </div>
        </div>
    </div>